 
body {
	background: #FFFFFF;
	color: #46485c;
	font-family: sans-serif;
  }
  
  h2 {
	color: #46485c;
	font-size: 1em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
  }
  
  a {
	color: #46485c;
	text-decoration: none;
  }

  
  .login {
	width: 85%;
	/*width: 22%;*/
	margin: 2em 0 0 0;
	background: rgba(0,0,0,0.025);
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
  }
  .selector
  {
	position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 10%;
	  background: #29B6F6;
  }
  
  input[type="text"]:not(#search_bar_cabeza), input[type="password"] {
	width: 90%;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 0.75em;
	background: transparent;
	border: none;
	/*border: 0;*/
	/*border-bottom: 1px solid rgba(255,255,255,0.04);*/
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07);
	/*outline: none;*/
	margin-bottom: 5%;
	color: #46485c;
	font-size: 1em;
  }

  
  label {
	/*display: block;
	position: relative;
	
	margin-bottom: 10px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: transparent;

	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border: 3px solid #46485c;*/
  }
  .textLabel{
		margin-top: -4px;
		padding-left: 10px;
		padding-right: -150px;
		/*padding-top: -5px;*/
		color: #46485c;
		font-size: 1em;
	}
  #remember:checked ~ label[for=remember] {
	background: #039BE5;
  }
  
  input[type="submit"] {
	background: #4FC3F7;
	border: 0;
	width: 95%;
	height: 3em;
	margin:0.5em 0.5%;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
  }
  input[type="submit"]:hover {
	background: #03A9F4;
  }
  
  .forgot {
	margin-top: 30px;
	display: block;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
  }
  .forgot:hover {
	margin-top: 30px;
	display: block;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	color: #6d7781;
  }
  
  .remember {
	padding: 30px 0px;
	font-size: 12px;
	text-indent: 25px;
	line-height: 15px;
  }
  
  ::-webkit-input-placeholder {
	color: #46485c;
  }
  
  [placeholder]:focus::-webkit-input-placeholder {
	transition: all 0.2s linear;
	transform: translate(10px, 0);
	opacity: 0;
  }
	

select {
	width: 80%;
	height:3.5em;
	  font:1emx "arial";
	padding:10px 10px 10px 10px ;
	  /*margin: 2px;
	  margin-right: 5px;*/
	  -webkit-border-radius:3px;
	  -moz-border-radius:3px;
	  border-radius:3px;
	  /*-webkit-box-shadow: 2px 2px 7px #000;
	  -moz-box-shadow:2px 2px 7px #000;*/
	  /*box-shadow: 2px 2px 2px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07);*/
	  background: #EDEDED;
	  color:#888;
	  border:none;
	  outline:none;
	  display: inline-block;
	  -webkit-appearance:none;
	  -moz-appearance:none;
	  /*cursor:pointer;*/
}
select option:hover {
    box-shadow: 0 0 10px 100px #0082A8 inset;
}

.caja {
	margin:10px 0px 10px 0px;	
	/*border:1px solid #d9d9d9;*/
	border: none;
	height:3.5em;
	overflow: hidden;
	width: 80%;
	position:relative;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07);
}
input:focus { 
		/*background-color: yellow;*/
		box-shadow: 0px 0px 15px #FFD54F;
		
}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:3em;
	height:3em;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}
  