body{
    font-family: sans-serif;
	    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#cabeza{
    width: 100%;
    height: 4em;
    color: white;
    /*background-color: #00C853;*/
    background-color: #0277BD;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07);
}
#cabeza div{
    float: left;

}
.limpiador
{
    clear: both;

}
#logo{
    width: 15%;
}

#busqueda{
    width: 65%;
    height: 3em;
padding:0;
margin:0;
text-align:center;
position: relative;
top: 10%;
}

#busqueda .search_button{
	position: absolute;
    opacity: 0.5;
    width: 2.5em;
	height: 2.5em;
	top:6%;
	left:77%;
	cursor:pointer;
	border:0;
	padding:0;
	background:rgba(0,0,0,0);
	background-image:url('../img/buscar icono.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 2.4em;
}
#busqueda .search_bar{
    width: 90%;
    height: 90%;
    margin-right: 0.3em;

}


 input[type="search"].search_bar{
   /* width: 50px;*/ /*ancho por defecto*/
    background: #ededed ; 
	font-size:1em;
/*background-image:url('../img/buscar icono.png');
background-repeat:no-repeat;
background-position: left center;
background-size: 45px;*/
border-style: none;
box-shadow: 2px 2px 2px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07);
    padding: 0.3em 7px 0.3em 10px;
    border-radius: 10px;
    -webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
    transition: all .5s; /* transición de .5seg a todos los elementos*/
    outline: none; /* ocultar el fucos automático de los input */
}
 input[type="search"]:focus.search_bar{
   width: 80%; /*tamaño del boton buscar al hacer click*/
    padding-left: 30px; /*espacio entre el icono lupa y el placeholder*/
    color: #000;
font-size:1.05em;
    background-color: #FFF;
}

#logoMain
{
    color: #757575;
	border: none;
	/*position: relative;*/
	margin: auto;
    /*background-color: #757575;*/
    opacity: 0.9;
    background-image:url('../img/logo2.png');
	background-repeat:no-repeat;
	background-size: 90% 95%;
	width: 100%;
}
#MenuCabeza{
	display:none;
	position:absolute;
	width:70%;
background:rgba(0,0,0,0.7);
	z-index:30;
	
}
#MenuCabezaC{
	display:none;
	position:absolute;
	width:100%;

	z-index:29;
	
}
#MenuCabezaUl{
	font-size:1em;
	
}
#MenuCabeza a{
	color:white;
	font-size:1em;
}