body{
    font-family: sans-serif;
	    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#cabeza{
    width: 100%;
    height: 4em;
    color: white;
    /*background-color: #00C853;*/
    background-color: #0277BD;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07);
}
#cabeza div{
    float: left;

}
.limpiador
{
    clear: both;

}
#logo{
    width: 15%;
}

#busqueda{
    width: 65%;
    height: 3em;
padding:0;
margin:0;
text-align:center;
position: relative;
top: 10%;
}
#buscadorformcabeza{
	width: 100%;
	height: 3em;
}
#busqueda .search_button{
	position: absolute;
    opacity: 0.5;
    width: 2.5em;
	height: 2.5em;
	top:6%;
	left:77%;
	cursor:pointer;
	border:0;
	padding:0;
	background:rgba(0,0,0,0);
	background-image:url('../img/buscar icono.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 2.4em;
}
#busqueda .search_bar{
    width: 90%;
    height: 90%;
    margin-right: 0.3em;

}


 .search_bar{
   /* width: 50px;*/ /*ancho por defecto*/
    background: #ededed ; 
	font-size:1em;
/*background-image:url('../img/buscar icono.png');
background-repeat:no-repeat;
background-position: left center;
background-size: 45px;*/
border-style: none;
box-shadow: 2px 2px 2px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07);
    padding: 0em 7px 0em 10px;
    border-radius: 10px;
    -webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
    transition: all .5s; /* transición de .5seg a todos los elementos*/
    outline: none; /* ocultar el fucos automático de los input */
}
.search_bar:focus{
 /*  width: 80%; *//*tamaño del boton buscar al hacer click*/
   /* padding-left: 30px;*/ /*espacio entre el icono lupa y el placeholder*/
    color: #000;
/*font-size:1.05em;*/
    background-color: #FFF;
}

#logoMain
{
    color: #757575;
	border: none;
	/*position: relative;*/
	margin: auto;
    /*background-color: #757575;*/
    opacity: 0.9;
    background-image:url('../img/logo2.png');
	background-repeat:no-repeat;
	background-size: 90% 95%;
	width: 100%;
}
#MenuCabeza{
	display:none;
	position:absolute;
	overflow:auto;
	width:70%;
background:#0277BD;
	z-index:30;
	
}
#MenuCabezaC{
	display:none;
	position:absolute;
	width:100%;

	z-index:29;
	
}
#MenuCabezaUl{
	font-size:1em;
	list-style:none;
	padding:0;
	margin-left:5%;
}
#MenuCabezaUl li{
margin-top:0.3em;
border-bottom:1px solid white;
}
#MenuCabezaUl h5{
display:inline-block;
}
#CabezaImgUser{
	display:inline-block;
	width:25%;
	height:3.8em;
	border-radius:200px;
	overflow:hidden;
}
#CabezaImgUser img{
height:4em;
}
#MenuCabeza a{
	text-decoration:none;   
	color:white;
	font-size:1.2em;
}
#ManeuBuscadorRadio{
 width: 15%;
    height: 2em;

}
#cabeza_disponibleP{
	   width:95%;
}
.btn-switch {
  font-size: 1em;
	position: relative;
	display: inline-block;		
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn-switch__radio {
	display: none;
}
.btn-switch__label {
	margin-left:0;
	/*display: inline-block;	*/
	padding: 0.25em .5em 0.25em .5em;
	vertical-align: top;
	font-size: 1em;
	font-weight: 700;
	/*line-height: 1.5;*/
	color: #666;
  cursor: pointer;
	transition: color .2s ease-in-out;
}
.btn-switch__label + .btn-switch__label {
	
  padding-right: .75em;
}
.btn-switch__txt {
	position: relative;
	z-index: 2;
  display: inline-block;
   min-width: 1em;
	opacity: 1;
	
	pointer-events: none;
	transition: opacity .2s ease-in-out;
}
.btn-switch__radio_no:checked ~ .btn-switch__label_yes .btn-switch__txt,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no .btn-switch__txt {
	opacity: 0;
}
.btn-switch__label:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #f0f0f0;
	border-radius: 1.5em;
	box-shadow: inset 0 .0715em .3572em rgba(43,43,43,.05);
	transition: background .2s ease-in-out;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label:before {
	background: #6ad500;
}
.btn-switch__label_no:after {
	content: "";
	position: absolute;
	z-index: 2;
	top: .5em;
	bottom: .5em;
	left: .5em;
	width: 0.5em;
	background: #fff;
	border-radius: 1em;	
	pointer-events: none;
	box-shadow: 0 .1429em .2143em rgba(43,43,43,.2), 0 .3572em .3572em rgba(43,43,43,.1);
	transition: left .2s ease-in-out, background .2s ease-in-out;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
	left: calc(100% - 2.5em);
	background: #fff;
}
.btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
	z-index: 1;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label_yes {
	color: #fff;
}
#mensaje-cabeza{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color:rgba(1,1,1,0.7);
    /*IE*/
    filter: alpha(opacity=10);
	display:none;
    /*border: 1px solid black;*/
}
#mensaje-cabeza div
{
	color:black;
  /*  position: absolute;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin-left: -15%;
    margin-top: -15%;
    padding-left: 3%;*/
	 z-index: 11;
    position: absolute;
    background-color: #FFFFFF;
    /* top: 50%; */
    /* left: 50%; */
    width: 90%;
    height: 50%;
	overflow:auto;
    margin-left: 5%;
    margin-top: 25%;
    /* padding-left: 3%; */
    text-align: center;
}
#mensaje-cabeza button
{
	border:0;
	margin-right: 5%;
	    width: 40%;
    height: 3em;
background-color:#FFD54F;	
}
#numeroNoticabezaM{
	display:inline-block;
	border-radius:200px;
	color:white;
	background-color:red;
	/*width:1em;
	height:1em;*/
	text-align:center;
}