.calificacion_estrellitas{
 direction: rtl;
 unicode-bidi: bidi-override;
 text-align:center;
}
.calificacion_estrellitas input{
	display:none;
}
.estrellitas{
	cursor:pointer;
	display:inline-block;
	width:1.5em;
	height:1.5em;
	 background-image: url("https://nirjob.com/archivosbase/icons/ic_star_border_black_24dp_2x.png");
	
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	 
	  background-position: center; 
}
/*.calificacion_estrellitas label:hover,
.calificacion_estrellitas label:hover ~ label {
background-image: url("../archivosbase/icons/ic_star_black_24dp_2x.png");
}*/
.estrellitasN, .estrellitasT{
	display:inline-block;
	width:1.5em;
	height:1.5em;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	background-position: center; 
}
.estrellitasT{
	 background-image: url("https://nirjob.com/archivosbase/icons/ic_star_black_24dp_2x.png"); 
}
.estrellitasN{
	 background-image: url("https://nirjob.com/archivosbase/icons/ic_star_border_black_24dp_2x.png"); 
}