#productosBuscador{
	/*EDITAR PARA HACERLE CON FLOAT EL MENU*/
	/*position: absolute;
	top: 10em;
	left: 22%;*/
	/*top:-35em;*/
	float:right;
	width:95%;
	right:2.5%;
	height:auto;
}
#buttonMore{
	text-align: center;
}

#productosBajoMapaC{
	margin-left: 2.5%;
	width:95%;
	text-align:left;
	margin-top: 1.5em;
}
#productosBajoMapa{
	/*text-align:left;*/
	width:100%;
}
#mostradorProductos div, #productosBajoMapaC div div{
	width:95%;
	/*border-top: 2px solid #029BDB;*/
	padding-left: 1%;
	display: inline-flex;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	background-color: #FFFFFF;
}
/*#mostradorProductos div div{
	border:0;
	display: inline-block;
	width:30%;
	overflow:auto;
	height:8em;
}*/
/*#mostradorProductos div div img{
	max-width:100%;
	border:0;
	max-height:7.5em;
}*/
.descripcionProducto{
	max-width: 67%;
	border-top: 2px solid #029BDB;
	padding-left: 1%;
}
.imagenProducto{
	max-width: 20%;
	border: none;
	max-height:7.5em;
	border-top: 2px solid #029BDB;
	padding-left: 1%;
}
.imagenProducto img{
	width: 100%;
    max-height: 4.5em;
	/*border-top: 2px solid #029BDB;*/
}
.precioProducto
{
	max-width: 8%;
	border-top: 2px solid #029BDB;
	padding-left: 1%;
}
#mostradorProductos h3, #productosBajoMapaC h3{
	margin-right: 1em;
	font-size: 14px;
}